body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header {
    text-align: center;
}

h1, h2 {
    color: #333;
    font-weight: bold;
}

form {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #0073e6;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #0073e6;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

ul#food-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
    justify-content: flex-start; /* Alinea los elementos al inicio */
}

ul#food-list li {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    flex: 1 1 calc(25% - 20px); /* Toma el 25% del ancho menos el margen */
    display: flex;
    flex-direction: column; /* Organiza imagen y texto en columna */
    align-items: center; /* Centra el contenido dentro del elemento */
}

ul#food-list li .food-image {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
    height: auto; /* Mantiene la proporción de la imagen */
}

ul#food-list li .food-info {
    text-align: center; /* Centra el texto */
}

ul#food-list li:hover {
    background-color: #e6f0ff;
    border-color: #0073e6;
    box-shadow: 0px 4px 8px rgba(0, 115, 230, 0.15);
}
