/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    background-image: url('pexels-kovyrina-937980.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

header h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: lightgray;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333399;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffd700;
    text-decoration: none;
    font-size: 1.2em;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten a la pantalla */
}

.card {
    background-color: rgba(204, 64, 134, 0.801);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    max-width: 1200px; /* Aumenta el ancho máximo */
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-height: 1000px; /* Aumenta la altura máxima */
    height: auto; /* Ajusta la altura automáticamente para adaptarse al contenido */
    position: relative;
    margin: 20px; /* Espacio entre las tarjetas */
    background-color: rgba(174, 92, 185, 0.5);
    border-bottom: 7px solid rgb(194, 15, 149);
}

}

.card-content {
    display: flex;
    flex-direction: column; /* Ajuste para alinear los elementos verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    height: 200%; /* Asegura que el contenido ocupa toda la altura de la tarjeta */
    color: white;
    font-size: 1.2em;
    
}

.card-content p {
    margin: 0;
}

/* Ajustes para el título */
.card-title {
    color: orange;
    padding: 5px 10px;
    font-size: 1.2em;
    text-align: right;
}

/* Ajustes para la imagen */
.card-img {
    float: left;
    bottom: -20px; /* Espacio desde el borde inferior */
    left: 20px; /* Espacio desde el borde izquierdo */
    width: 50px;
    height: 50px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    color: white;
}
